
    <div class="row mt-5">

        <div class="col-3">
            <input type="text" [(ngModel)]="hero.name" class="form-control m-2" placeholder="name">
        </div>
        <div class="col-3">
            <input type="text" [(ngModel)]="hero.power"  class="form-control m-2" placeholder="power">

        </div>
        <div class="col-3">
            <input type="text" [(ngModel)]="hero.image"  class="form-control m-2" placeholder="image url">

        </div>
        <div class="col-3">

            <button class="btn btn-danger m-2 form-control" (click)="ajout()">Create</button>

        </div>


    </div>